<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="NexusOriginalLtd.376376BE21BB8" Publisher="CN=ADP" Version="1.1.0.0" />
  <Properties>
    <DisplayName>چابک رسان</DisplayName>
    <PublisherDisplayName>Nexus Original Ltd</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="chabok_demo_wp.Windows.App">
      <m2:VisualElements DisplayName="چابک رسان" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\Square30x30Logo.png" Description="chabok-demo-wp.Windows" ForegroundText="dark" BackgroundColor="transparent" ToastCapable="true">
        <m2:LockScreen Notification="badge" BadgeLogo="Assets\SmallLogo.png" />
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="white" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="ADPPushBackgroundTask.BackgroundTask.PushNotificationTask">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>